/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background-color: #f8f8f8;
}

/* Header */
header {
  background-color: #d89700;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a img {
  max-width: 100%;
  height: auto;
}

.menu-icon svg {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.menu-icon {
  display: none; /* Hide the hamburger menu icon by default */
}

nav {
  display: block;
}

nav ul li .desktop-menu {
  color: #ffff;
}

.mobile-menu {
  display: none; /* Hide the mobile menu by default */
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: bold;
}

nav ul li a:hover {
  color: #000;
  font-size: 18px;
  text-shadow: #f5f5f5;
}

.logo {
  width: 60px; /* Adjust the width as per your desired size */
  height: auto; /* Maintain aspect ratio */
}

/* Main */
main {
  padding: 40px;
}

.options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.option-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
  flex-basis: calc(33.33% - 20px);
}

.option-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.option-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.option-card p {
  color: #000;
  margin-bottom: 20px;
}

.option-card a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eab806;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.option-card a:hover {
  background-color: #000;
  color: #eab806;
}

.testimonials {
  margin-top: 40px;
}

.testimonial {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.testimonial p {
  color: #333;
  margin-bottom: 10px;
}

.testimonial .author {
  color: #666;
  font-style: italic;
}

/* Footer */
footer {
  background-color: #d89700;
  color: #333333;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 0;
  color: #f5f5f5;
  text-align: left;
}

.footer-social {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  list-style: none;
}

.footer-social a {
  display: inline-block;
  margin-right: 10px;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #0855b1;
  font-size: bold;
  font-size: 18px;
}

.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d89700;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

#backToTopButton:hover {
  background-color: black;
}

/* Responsive Styles */
.options .option-card {
  flex-basis: calc(50% - 20px);
}

.option-card img {
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 480px) {
  .options .option-card {
      flex-basis: calc(100% - 20px);
  }

  .menu-icon {
      display: block; /* Show the hamburger menu icon */
  }

  nav {
      display: none; /* Hide the normal navigation menu */
  }

  .mobile-menu {
      display: block; /* Show the mobile menu */
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .mobile-menu li {
      margin-bottom: 10px;
  }

  .mobile-menu a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #333;
      background-color: #f5f5f5;
      border-radius: 5px;
  }

  .mobile-menu a:hover {
      transition: all .4s ease;
      color: #333;
      font-size: 18px;
      text-shadow: #f5f5f5;
  }
}